h1 {
    a {
        opacity: 0;
    }
    &:hover>a {
        opacity: 1;
    }
    margin-bottom: 0;
}

h2 {
    a {
        opacity: 0;
    }
    &:hover>a {
        opacity: 1;
    }
}

h3 {
    font-size: 1.35rem;
    a {
        opacity: 0;
    }
    &:hover>a {
        opacity: 1;
    }
}

.md-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

@border: 1px solid #dfe2e5;
table {
    text-align: center;
    border-collapse: collapse;
    margin: 1rem 0;
    border: @border;
    th {
        border: @border;
        padding: .6em 1em;
        font-weight: 900;
        font-size: 17px;
    }
    tr {
        border-top: @border;
        td {
            border: @border;
            background: @border;
            padding: .6em 1em;
            font-weight: 700;
            font-size: 15px;
        }
    }
    tr:nth-child(2n) {
        background-color: #f6f8fa;
    }
}