.big-title {
    width: 100%;
    text-align: center;
    .get-start-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #282c34;
        min-height: 300px;
    }
    .story-bref {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-weight: 200;
        color: white;
        padding: 20px;
        line-height: 0.01em;
        font-size: 18px;
    }
    .story-get-start {
        transition: all .5s;
        font-size: 18px;
        background-color: #61dafb;
        color: black;
        padding: 10px 25px;
        &:hover {
            background-color: white;
        }
    }
    .story-logo {
        letter-spacing: 0.01em;
        font-size: 45px;
        color: #61dafb;
        font-weight: 900;
    }
    .front-page-block {
        margin-top: 4em;
        justify-content: space-between;
        .bref-block {
            text-align: left;
            font-size: 18px;
        }
    }
    @media (min-width: 769px) {
        .front-page-block {
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            .bref-block {
                padding: 24px 36px 24px 36px;
            }
        }
    }
    @media (max-width: 769px) {
        .story-bref {
            word-break: initial;
            line-height: 1.5em;
        }
        .bref-block {
            padding: 24px
        }
    }
}