@media screen and (max-width:960px) {
    .content-wapper>p>img {
        width: 80%;
        max-width: 700px;
    }
}

@media screen and (min-width:960px) {
    .page-paper-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .content-wapper{
        width: 700px;
    }
    .content-wapper>p>img {
        max-width: 700px;
    }
}

pre {
    background-color: #262626;
    padding: 12px;
    border-radius: 5px;
}

code{
    background-color: #262626;
    padding: 5px;
    border-radius: 5px;
}