body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

@media screen and (min-width:800px) {
    .root-wapper {
        padding: 24px;
        background: #fff;
        display: flex;
        justify-content: 'center'
    }
    .trump-layout {
        margin-left: 200px;
    }
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        position: fixed;
        color: #1890ff;
    }
}

@media screen and (max-width:800px) {
    .root-wapper {
        padding: 24px;
        background: #fff;
    }
    .trigger {
        font-size: 30px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        position: fixed;
        color: #1890ff;
    }
}

